<% layout("layouts/boilerplate") %>

<%- include('../includes/navbar.ejs') %>
<%- include("../includes/flash.ejs") %>

<div class="container cnt-3 mt-5 mb-5">
    <div class="row justify-content-center align-items-center">
        <div class="card signup__card">
            <h2 class="text-center mt-2">Edit your listing</h2>
            <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" novalidate
                class="needs-validation" enctype="multipart/form-data">
                <div class="form-floating mb-2 mt-1">
                    <input type="text" class="form-control" id="floatingInput"
                        placeholder="dd a catchy title" name="listing[title]" value="<%= listing.title %>"
                        required>
                    <label for="floatingInput">Title</label>
                </div>

                <div class="mb-2 mt-1">
                    <textarea class="form-control" id="floatingInput" placeholder="Description"
                        name="listing[description]" required
                        style="height: 7rem;"><%= listing.description || '' %></textarea>
                </div>
                <div class="form-floating mb-2 mt-1">
                    <input type="number" class="form-control" id="floatingInput" placeholder="Enter Price"
                        name="listing[price]" value="<%= listing.price %>" required>
                    <label for="floatingInput">Price</label>
                </div>
                <div class="form-floating mb-2 mt-1">
                    <input type="text" class="form-control" id="floatingInput"
                        placeholder="Enter Country Name" name="listing[country]"
                        value="<%= listing.country %>" required>
                    <label for="floatingInput">Country</label>
                </div>
                <div class="form-floating mb-2 mt-1">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Enter Location"
                        name="listing[location]" value="<%= listing.location %>" required>
                    <label for="floatingInput">Location</label>
                </div>
                <div class="mb-2 mt-1">
                    <select class="form-select" id="inputGroupSelect01" name="listing[category]" required>
                        <option class="opt-1" selected disabled hidden>Select best fit category</option>
                        <option value="village" <%=listing.category=="village" ? "selected" : "" %>>Village
                        </option>
                        <option value="farm" <%=listing.category=="farm" ? "selected" : "" %>>Farms</option>
                        <option value="nature" <%=listing.category=="nature" ? "selected" : "" %>>Nature
                        </option>
                        <option value="mountains" <%=listing.category=="mountains" ? "selected" : "" %>
                            >Mountains</option>
                        <option value="lakes" <%=listing.category=="lakes" ? "selected" : "" %>>Lakes
                        </option>
                        <option value="camping" <%=listing.category=="camping" ? "selected" : "" %>>Camping
                        </option>
                        <option value="heritage" <%=listing.category=="heritage" ? "selected" : "" %>
                            >Heritage</option>
                        <option value="budget" <%=listing.category=="budget" ? "selected" : "" %>>Budget
                        </option>
                        <option value="eco" <%=listing.category=="eco" ? "selected" : "" %>>Eco</option>
                        <option value="offbeat" <%=listing.category=="offbeat" ? "selected" : "" %>>Offbeat
                        </option>
                        <option value="orchards" <%=listing.category=="orchards" ? "selected" : "" %>
                            >Orchards</option>
                        <option value="cities" <%=listing.category=="cities" ? "selected" : "" %>>Cities
                        </option>
                        <option value="riverside" <%=listing.category=="riverside" ? "selected" : "" %>
                            >Riverside</option>
                        <option value="adventure" <%=listing.category=="adventure" ? "selected" : "" %>
                            >Adventure</option>
                        <option value="farmToTable" <%=listing.category=="farmToTable" ? "selected" : "" %>
                            >Farm-to-Table</option>
                        <option value="animalFarms" <%=listing.category=="animalFarms" ? "selected" : "" %>
                            >Animal Farms</option>
                        <option value="community" <%=listing.category=="community" ? "selected" : "" %>
                            >Community</option>
                        <option value="festivals" <%=listing.category=="festivals" ? "selected" : "" %>
                            >Festivals</option>
                    </select>
                </div>
                <div class="mb-2 mt-1">
                    <select name="listing[availability]" class="form-select" required>
                        <option class="opt-1" selected disabled hidden>Availability</option>
                        <option value="available" <%=listing.availability==="available" ? "selected" : "" %>
                            >Available</option>
                        <option value="rented" <%=listing.availability==="rented" ? "selected" : "" %>
                            >Rented</option>
                    </select>
                </div>
                <div class="mb-2">
                    <input class="form-control" name="listing[imageUrl]" type="file" />
                </div>
                <div class="row justify-content-center align-items-center mt-3 mb-3">
                    <button type="submit" class=" signup__btn btn btn-primary btn-pro">
                        Save Changes
                    </button>
                </div>
            </form>

        </div>
    </div>
</div>
